#VideoHeader {
  box-sizing: border-box;
  padding: 0 15px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#VideoTitle {
  float: left;
  font-size: 28px;
  color: #333;
}
#VideoAuthor {
  float: right;
  font-weight: normal;
  font-size: 16px;
  color: #444;
}
#SingleVideo {
  width: 70%;
  float: left;
}
#SingleVideo > * {
  float: left;
}
#Player {
  width: 100%;
  height: 500px;
  /* fix it */
  background: #000;
  border-radius: 5px;
  border: 1px solid #979494;
  position: relative;
}
#PlayerVideo {
  width: 100%;
  height: 100%;
}
#PlayerControls {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
#PlayerControls > div {
  width: 100%;
}
#TopControls,
#DownControls {
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
}
#TopControls {
  width: 100%;
  height: 8%;
  border-radius: 5px 5px 0 0;
}
#TopControls ul {
  background: #ffffff;
}
#TopControls ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor:pointer;
  padding: 0 10px;
}
#TopControls>
ul>
li {
  float: left;
  list-style: none;
  margin-right: 20px;
  height: 100%;
}
#TopControls>
ul>
li>
ul {
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
}
#TopControls>
ul>
li:hover >
ul {
  display: block;
}
#MiddleControl {
  width: 100%;
  height: 84%;
}
#PlayButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  font-size: 40px;
  border-radius: 40px;
}
#smallPlayButton {
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
}
#soundBgRange {
  width: 10%;
}
#playTime {
  font-size: 13px;
  margin-left: 20px;
}
#VideoProperties {
  width: 100%;
  margin-top: 15px;
  color: #333;
}
#VideoProperties div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#VideoProperties div * {
  float: left;
  margin: 0 10px 0 0;
}
#VideoProperties button {
  background: #fff;
  font-size: 20px;
}
#mainVideoProperties {
  float: left;
  width: 50%;
}
#subVideoProperties {
  float: right;
  width: 50%;
}
#subVideoProperties * {
  float: left;
}
#Recommendations {
  float: left;
  margin-left: 15px;
  width: 260px;
  min-height: 600px;
}
#Comments {
  float: left;
  width: 100%;
  margin: 15px 0 0;
  min-height: 400px;
  box-sizing: border-box;
}
#Comments > * {
  float: left;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
#commentsHeader {
  margin-top: 10px;
}
#commentsHeader * {
  float: left;
}
#commentsHeader h6 {
  font-size: 18px;
  color: #222;
}
.comment {
  border: 1px solid #979494;
  border-radius: 5px;
  background: #eaeaea;
  margin-bottom: 15px;
  color: #333;
}
.comment > * {
  width: 100%;
  float: left;
}
.comment img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.comment .commentHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.comment .commentHeader * {
  float: left;
}
.comment .commentHeader p {
  margin-left: 10px;
}
.comment > p {
  margin-top: 10px;
}
#commentForm {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
#commentForm * {
  list-style-type: none;
  display: list-item;
  margin-bottom: 15px;
}
#commentForm input[type="text"],
#commentForm input[type="password"],
#commentForm input[type="submit"],
#commentForm textarea {
  border: 1px solid #333;
  font-size: 17px;
  border-radius: 2px;
  padding: 3px;
}
#commentForm input[type="submit"] {
  background: #0ab20a;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
}
#commentForm textarea {
  width: 100%;
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}
.Range {
  appearance: none;
  -webkit-appearance: none;
  height: 6px;
  background: #444;
}
.Range::-webkit-slider-thumb {
  appearance: none;
  background: #0ab20a;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.Range::-moz-range-thumb {
  appearance: none;
  background: #0ab20a;
  width: 10px;
  height: 10px;
}
#TimeRange {
  margin-left: 15px;
  width: 62%;
}
#SoundRange {
  width: 10%;
}
