<div id="ChannelProfile">
    <div>
        <form>
            <img src="channels/[CHANNELID]/ava.png" />
            <p style="font-weight:bold;">[CHANNELTITLE]</p>
            <p>[SUBNUM] subs</p>
            
            <!--yes means already subscribed, no means opposite-->
            <input type="hidden" name="subscribed" value="[SUBSTATUS]" />
            <input type="hidden" name="channelId" value="[CHANNELID]" />
            <input type="submit" class="[SUBSTATUS]" value="[BTNSUBSTATUS]" />
        </form>
    </div>
</div>
<div id="ChannelHeader" style="background: url('channels/[CHANNELID]/curheadercover.jpg');">
    <!-- just Channel header-->
</div>