<form method="post" id="likeDislikeForm">
    <input type="hidden" name="userId" value="[USERID]" />
    <input type="hidden" name="channelId" value="[CHANNELID]" />
    <input type="hidden" name="channelNick" value="[CHANNELNICK]" />
    <input type="hidden" name="videoId" value="[VIDEOID]" />
    <input type="hidden" name="likeDislike" />
    <input type="submit" value="👍 [LIKES]" id="likeButton" name="like" />
    <input type="submit" value="👎 [DISLIKES]" id="dislikeButton" name="dislike" />
</form>
<p style="margin-left:40px;">[VIEWS] Views</p>